.modal-dialog {
    /*display: none;*/
    opacity: 0;
    max-width: 500px;
    width: 500px;
    margin: 30px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
    transition: opacity .15s linear;
}

.modal-dialog.show {
    display: block;
    opacity: 1;
    z-index: 999;
}